html {
  --colContenido: black;
  --colContenidoFondo: #fffde7;
  --colPrimario: white;
  --colPrimarioFondo: #4db6ac;
  --colActive: #4646462c;
  --colCampoSinFoco: gray;
  --colCampoFoco: #01579B;
  --colError: #b00020;
  --colCampoFondo: #e8f5e9;
  --colCampoFondoHover: #EEEEEE;
  --colCampoFondoFocus: #E0E0E0;
  --colCheckOn: #0277BD;
  --colCheckFondo: #BDBDBD;
  /* Los 2 primeros fonts son para
   * apple y "Roboto" es para
   * Android. */
  --fontFamily: -apple-system,
    BlinkMacSystemFont, Roboto,
    sans-serif;
  color: var(--colContenido);
  font-family: var(--fontFamily);
  background-color:
    var(--colContenidoFondo);
}
